useDynLib(penaltyLearning)
exportPattern("^[[:alpha:]]")
import(data.table)
import(geometry)
import(ggplot2)
import(data.table)
importFrom("stats", "sd")
importFrom("stats", "predict")
importFrom("stats", "coef")
importFrom("stats", "quantile")
S3method("print", "IntervalRegression")
S3method("plot", "IntervalRegression")
S3method("predict", "IntervalRegression")
S3method("coef", "IntervalRegression")
