useDynLib(penaltyLearning)
exportPattern("^[[:alpha:]]")
import(data.table)
import(geometry)
import(foreach)
import(ggplot2)
importFrom("stats", "sd")
importFrom("stats", "predict")
S3method("print", "IntervalRegression")
S3method("plot", "IntervalRegression")
S3method("predict", "IntervalRegression")
